html body{border:0;margin: 0;font-family: 'Microsoft Yahei';}
h1,h2,h3,h4,h5{margin:0;padding:0;border: 0}
.header{width: 100%;height: 100px; background: #ffffff;box-shadow: 0 1px 2px 1px  rgba(0,0,0,0.15);z-index: 99;position: absolute;top: 0}
.section1{width: 100%;height: 60px;background:#4fbfa7;z-index: 98;position: absolute;top: 100px;box-shadow: 0 1px 2px 1px  rgba(0,0,0,0.15);}
.header h1{line-height: 100px;margin-left: 100px;color: #c4c4c4}
.header h1 strong{color: #4fbfa7}
.section1 h2{text-align: center;line-height: 60px;color: #ffffff}
#main{position: absolute;top: 160px;bottom: 0;background:url("../image/login_bg.jpg") no-repeat center bottom;z-index: 97;width: 100%;}
.login{overflow:hidden;text-align: center;width: 380px;height: auto;background:rgba(255,255,255,0.6);margin-left: auto;margin-right: auto;box-shadow: 0 0 10px 1px  rgba(0,0,0,0.15);padding-bottom: 20px;}
.loginform{padding-top: 20px;}
.loginform div{padding: 25px 0 0 0;overflow:hidden;}
.loginform label{font-weight: 400;line-height: 30px;display: block;width: 100px;float: left;text-align: center}
.loginform input{height: 30px;padding: 0;margin:0;border: 0;width: 240px;text-align: center;outline: none;float: left;}
.loginform input:focus{	border: 2px solid #4fbfa7;}
.loginform input[type="submit"]{float:none;margin:auto;width: 300px;background:#4fbfa7;height: 30px;display: block;color: #ffffff;cursor: pointer;font-family: 'SimHei';font-size: 16px;}
.loginform input[type="submit"]:hover{background: #57dfa0}
.loginform input:focus[type="submit"]{	border: none;}
.login a{cursor: pointer;text-decoration: underline;color: #219161}
.loginform .error_info{margin: 3px 0 0 100px;color: #cc0000;font-size: 14px;text-align: left;clear: both;  display: none }
.loginform textarea{height: 70px;width: 240px;outline: none;float: left;padding: 0;margin:0;border: 0;line-height: 30px;}
.loginform textarea:focus{	border: 2px solid #4fbfa7;text-align: left}
#login{position: absolute;top: 100px;left: 50%;margin-left: -190px;}
#register{position: absolute;top:100px;left: 50%;margin-left: -190px; }
.login.hide{padding-bottom: 0;height: 0}