html {
    -ms-touch-action: none;
}

body,ul,li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
    overflow: hidden; /* this is important to prevent the whole page to bounce */
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.header {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #F4F4F4;
    border-bottom: 1px solid #DBDBDB;
    padding: 0;
    color: #444444;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}


.footer {
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: #F4F4F4;
    padding: 0;
    border-top: 1px solid #DBDBDB;
}

.wrapper {
    transition: 1s opacity;
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 45px;
    left: 0;
    width: 100%;
    background: #ffffff;
    overflow: hidden;
}

.scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

.scroller li {
    overflow: hidden;
    background-color: #ffffff;
    font-size: 14px;
}


/* Styled scrollbars */



.iScrollVerticalScrollbar {
    position: absolute;
    z-index: 9999;
    width: 6px;
    bottom: 2px;
    top: 2px;
    right: 2px;
    overflow: hidden;

}

.iScrollVerticalScrollbar.iScrollBothScrollbars {
    bottom: 18px;
}

.iScrollIndicator {
    position: absolute;
    background: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
}


.iScrollVerticalScrollbar .iScrollIndicator {
    width: 100%;
    background: #57D5C9;
    border:none;
}


/* end */

/*@底部导航栏*/
.bottom-nav{width: 100%;height: 35px;margin-top: 5px;margin-bottom: 5px;}
.bottom-nav li{width: 25%;height: 100%;float: left;list-style: none;text-align: center}
/*END*/

/*@顶部header*/
.header-left-bottom{float: left;margin-left: 5px;   }
.title{position: relative;margin-left: 20%;margin-right: 20%;width: 60%;height: 40px;display: block;text-align: center;}
/*END*/

/*@列表*/
.wrapper li{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-left: 5px;
}
.friendListLi {
    border-bottom: 1px #e9e9e9 solid;
    border-top: 0;
}
.friendListLi .headPhoto{
    float: left;
    height:45px;
    width: 45px;
}
.friendListLi h1{
    float: left;
    width: auto;
    margin: 0 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 45px;

}
.friendListLi .emailHidden{display: none}

.friendListLi .alertNumber{
    background: lightcoral;
    height: 20px;
    width: auto;
    float: right;
    margin-right: 10px;
    margin-top: 12px;
    border-radius: 3px;
    padding:0 5px 0 5px;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.friendListLi .signature{
    font-size: 14px;
    line-height: 45px;
    float: right;
    color: #8b8e91;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*END*/
/*@聊天窗口*/
#session_wrapper li{
    border: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.bubbleWord{
    float: left;
    width: auto;
    max-width: 80%;
    height: auto;
    line-height: 20px;
    font-size: 14px;
    padding: 10px 8px 10px 8px;
    border-radius: 5px;
    margin-top: 2px;
    background: powderblue;


}
.SessionContent{
    width: 80%;
    float: left;
}

.SessionContent .username{
    width: 100%;
    float: left;
    margin-left: 5px;
    color: #8b8e91;
}

.headTd{
    width:20%;
    max-width: 60px;
    float: left;
    height: 100%;
}
.headTd img {width: 95%;height: auto;margin:0 5% 0 0;}



.bubbleSan{
    float: left;
    width:0;
    height:0;
    border-width:5px;
    border-style:solid;
    border-color:#ffffff powderblue #ffffff #ffffff;
    margin-top: 15px;
}



.mySession .headTd{
    float: right;
}
.mySession .headTd img{margin:0 0 0 5%;}

.mySession .bubbleSan{
    float: right;
    border-color:#ffffff  #ffffff #ffffff lightgreen;

}

.mySession .bubbleWord{
    float: right;
    background: lightgreen;
}

.mySession .username{
    float: right;
    margin-left: 0;
    margin-right: 5px;
    text-align: right;
}
.mySession .SessionContent{
    float: right;
}
.wordForm{
    float: left;
    width: 80%;
    margin-left: 2%;
    height: 35px;
}
.wordInput{
    font-size: 14px;
    outline: none;
    width: 100%;
    margin-left: 2%;
    height: 35px;
    border: 1px solid silver;
    border-radius: 3px;
}

.sendButton{
    text-align: center;
    width: 18%;
    height: 35px;
    float: left;
    font-size: 16px;
    font-weight: 800;
    color: #444444;
    line-height: 35px;
}



/*end/*

/*@游戏区*/
.gameList{
    height: auto;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-bottom: 5px;
    border-bottom: 1px #e9e9e9 solid;
    border-top: 0;
}

.gameTitle{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 45px;
}
.gameTitle h1{
    float: left;
    width: auto;
    margin: 0 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 45px;
}
.gameList p{
    color: #8b8e91;;
}

.gameIcon{
    width: 45px;
    height: 45px;
    float: left;
}

.gameList .createTag{
    float: right;
    color: #57D5C9;
}
/*END*/
/*@个人设置区*/
.self_setting{
    padding-left: 10px !important;
    padding-right: 20px !important;
    border-bottom: 1px #e9e9e9 solid;

}
.self_setting img{
    width: 40px;
    height: 40px;
    float: right;
}
.self_setting h2{
    float: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.self_setting h3{
    max-width: 200px;
    float: right;
    font-size: 14px;
    font-weight: 100;
    color: #8b8e91;
    line-height: 20px;
}
/*END*/

/*@公共区*/
.hidden{display: none}