
<title>TM Talk —— Web IM</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' href='css/login.css' type='text/css' media='all' />

<div id="wrap">
    <div class="header">
        <h1><strong>TM</strong>-TALK</h1>
    </div>
    <div class="section1">
        <h2>Online Talk & Video</h2>
    </div>
    <div id="main">
        <div class="login" id="login">
            <form name="loginform" class="loginform" id="loginForm">
                <div>
                    <label for="user_login">邮箱</label>
                    <input type="text" name="log" id="user_login" class="input" value="" size="20" tabindex="10" placeholder="请输入你的注册邮箱"/>
                    <p class="error_info">你输入的邮箱格式有误</p>
                </div>
                <div>
                    <label for="user_pass">密码</label>
                    <input type="password" name="pwd" id="user_pass" class="input" value="" size="20" tabindex="20" placeholder="请输入你的密码    "/>
                    <p class="error_info">密码错误</p>
                </div>
                <div>
                    <input type="submit" value="登  录">
                </div>
            </form>
            <a id="go_register">新用户注册</a>
        </div>

        <div class="login hide" id="register">
            <form name="loginform" class="loginform"  id="registerForm">
                <div>
                    <label for="user_register_mail">邮箱*</label>
                    <input type="text" name="log" id="user_register_mail" class="input" value=""  placeholder="请输入你的注册邮箱"/>
                    <p class="error_info">你输入的邮箱格式有误</p>
                </div>
                <div>
                    <label for="user_register_pass">密码*</label>
                    <input type="password" name="pwd" id="user_register_pass" class="input" value=""  placeholder="请输入你的密码    "/>
                    <p class="error_info">密码格式错误，至少为6为字符</p>
                </div>
                <div>
                    <label for="user_pass_rep">重复密码*</label>
                    <input type="password" name="pwd" id="user_pass_rep" class="input" value=""  placeholder="请重复输入密码确认    "/>
                    <p class="error_info">两次输入的密码不同</p>
                </div>
                <div>
                    <label for="user_nick">昵称*</label>
                    <input type="text" name="pwd" id="user_nick" class="input" value=""  placeholder="请输入你的昵称    "/>
                    <p class="error_info">昵称不能为空</p>
                </div>
                <div>
                    <label for="user_sign">个性签名</label>
                    <textarea  name="pwd" id="user_sign" class="input" placeholder="请输入你的签名，30字以下" ></textarea>
                    <p class="error_info">个性签名不能超过30字</p>
                </div>
                <div>
                    <input type="submit" value="注   册">
                </div>
            </form>
            <a id="go_login">已有账号？直接登录</a>
        </div>

    </div>



</div>
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/loginCheak.js"></script>
<script>
    (function(window){

        function login(){
            var email=$("#user_login").val();
            var passWord=$("#user_pass").val();
            if (cheakUP(email,passWord)){
                $.ajax({
                    type: "POST",
                    url: "/login",
                    data:{
                        email:email,
                        password:passWord
                    },
                    success: function (data) {
                        //window.localStorage.setItem("name",data.name);
                        window.localStorage.setItem("email",email);
                        window.localStorage.setItem("username",data.username);
                        window.localStorage.setItem("signature",data.signature);
                        console.log('email: '+email);
                        console.log('username: '+data.username);
                        window.location.href="/";
                    }
                });
            }
            else{
                $("#loginForm").find('p').hide();
                if(!cheakEmail(email)){

                    var errorTag= $("#loginForm").find('p').eq(0);
                    errorTag.text("邮箱格式有误");
                    errorTag.show();
                }else{
                    var errorTag= $("#loginForm").find('p').eq(1);
                    errorTag.text("密码长度过短");
                    errorTag.show();
                }
            }
            return false;
        }

        function submitRegister(){
            var email=$("#user_register_mail").val();
            var passWord=$("#user_register_pass").val();
            var passRepeat=$("#user_pass_rep").val();
            var nickname=$("#user_nick").val();
            var sign=$("#user_sign").val()||"无";
            if(checkRegisterFrom(email,passWord,passRepeat,nickname,sign)){
                $.ajax({
                    type: "POST",
                    url: "/register",
                    data:{
                        email:email,
                        password:passWord,
                        username:nickname,
                        signature:sign
                    },
                    success: function (data) {
                        window.localStorage.setItem("email",email);
                        window.localStorage.setItem("username",data.username);
                        window.localStorage.setItem("signature",data.signature);
                        window.location.href="/";
                    },
                    error:function(){
                        //todo 添加注册失败处理
                    }
                });
            }
            return false;
        }

        function checkRegisterFrom(email,passWord,passRepeat,nickname,sign){
            //隐藏所有提示
            var alerts=$("#registerForm").find("p");
            alerts.hide();
            formOk=true;
            if(!cheakEmail(email)){
                alerts.eq(0).html("邮箱格式不正确");
                alerts.eq(0).show();
                formOk=false;
            }
            if(passWord.length<6){
                alerts.eq(1).html("密码不能小于六位");
                alerts.eq(1).show();
                formOk=false;
            }
            if(!cheakPassSame(passWord,passRepeat)){
                alerts.eq(2).html("两次输入的密码不一致");
                alerts.eq(2).show();
                formOk=false;
            }
            if(!cheakNull(nickname)){
                alerts.eq(3).html("昵称不能为空");
                alerts.eq(3).show();
                formOk=false;
            }
            if(sign.length>30){
                alerts.eq(4).html("签名长度不能大于30个字符");
                alerts.eq(4).show();
                formOk=false;
            }
            return formOk;


        }


        function attachAction(){
            $("#go_register").on('click',function(){
                $("#login").addClass("hide");
                $("#register").removeClass("hide");

            });
            $("#go_login").on('click',function(){
                $("#register").addClass("hide");

                $("#login").removeClass("hide");

            });

            $("#loginForm").on("submit",function(){
                return login();
            })
            $("#registerForm").on("submit",function(){
                return submitRegister();
            })
        }
        window.onload=function(){
            attachAction();
        }

    })(window);
</script>


</body>
</html>
