<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xmlns:fb="http://www.facebook.com/2008/fbml"><head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="author" content="Juno Web Design">

    <title>TM Talk —— Web IM</title>

    <script src="js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel='stylesheet' href='css/login.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/colors-fresh.css' type='text/css' media='all' />
    <link rel="stylesheet" type="text/css" href="css/bm-custom-login-3.css" />

    <link rel="alternate" type="application/rss+xml" title="OOiZiT Site Wide Activity RSS Feed" href="http://www.ooizit.com/activity/feed">

    <link rel="alternate" type="application/rss+xml" title="OOiZiT Blog Posts RSS Feed" href="http://www.ooizit.com/feed">
    <link rel="alternate" type="application/atom+xml" title="OOiZiT Blog Posts Atom Feed" href="http://www.ooizit.com/feed/atom">
    <link rel="stylesheet" href="css/jquery.bt.css" type="text/css">
    <link rel="pingback" href="http://www.ooizit.com/xmlrpc.php">
    <link rel="shortcut icon" href="/wp-content/themes/ooizit/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/wp-content/themes/ooizit/images/favicon.gif" type="image/gif">

    <!--[if IE 6]>
    <script type="text/javascript" src="js/json2.js"></script>

    <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen" />
    <![endif]-->

    <!--[if IE 7]>
    <script type="text/javascript" src="js/json2.js"></script>
    <link rel="stylesheet" href="/css/ie/ie7.css" type="text/css" media="screen" />
    <![endif]-->

    <script type="text/javascript" src="js/jquery.js"></script>

    <link rel="meta" href="./wp-content/plugins/wp-rdfa/foaf.php" type="application/rdf+xml" title="FOAF"><link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.ooizit.com/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.ooizit.com/wp-includes/wlwmanifest.xml">
    <script type="text/javascript" src="js/filtrocontatti.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.livequery.pack.js"></script>
    <script type="text/javascript" src="js/general.js"></script>
    <meta name="generator" content="WordPress 2.7.1">

    <script type="text/javascript">var ajaxurl = "http://www.ooizit.com/wp-load.php";</script>

    <!-- All in One SEO Pack 1.6.4 by Michael Torbert of Semper Fi Web Designob_start_detected [-1,-1] -->
    <!-- /all in one seo pack -->

    <link rel="stylesheet" href="css/structure.css" type="text/css" media="">
    <link rel="stylesheet" type="text/css" media="screen" href="css/page.css">
    <style type="text/css">.recentcomments a{display:inline !important;padding: 0 !important;margin: 0 !important;}</style>
    <meta name="robots" content="noindex,nofollow">

    <script type="text/javascript" src="js/jquery.tabs.pack.js"></script>
    <script type="text/javascript" src="js/new-messages.js"></script>

    <script type="text/javascript" src="js/FlashPlayerDetection.js"></script>
    <script type="text/javascript" src="js/PlayerManager.js"></script>
    <script type="text/javascript" src="js/jquery.simpletip.js"></script>
    <script type="text/javascript" src="js/jquery.bt.min.js"></script>
    <!-- Js for datepicker in bank page -->
    <script src="js/testuserdevice.js" type="text/javascript"></script>
    <script src="js/ui.datepicker.js" type="text/javascript"></script>
    <link type="text/css" href="css/screen.css" media="screen" rel="Stylesheet">

    <!-- Js for Band member -->
    <script type="text/javascript" src="js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="js/jquery.json-2.1.js"></script>
    <link rel="stylesheet" href="css/jquery.autocomplete.css" type="text/css">

    <!-- Js for colourpicker -->
    <script src="js/loginCheak.js"></script>
    <script type="text/javascript" src="js/colorpicker.js"></script>
    <script type="text/javascript" src="js/eye.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <link rel="stylesheet" href="css/colorpicker.css" type="text/css">
    <!-- Js for opacity slide -->
    <script type="text/javascript" src="js/jquery-ui-1.7.1.custom.min.js"></script>
    <script type="text/javascript" src="js/selectToUISlider.jQuery.js"></script>
    <link rel="stylesheet" href="css/jquery-ui-1.7.1.custom.css" type="text/css">
    <script type="text/javascript" src="js/jqModal.js"></script>

    <script type="text/javascript">
        $(function() {
            $('#bio').tabs({ fxSlide: true, fxFade: true, fxSpeed: 'normal' });
        });

        $(function() {
            $('#settings').tabs({ fxSlide: true, fxFade: true, fxSpeed: 'normal' });
        });

        $(document).ready(function() {
            //if ($("#featured-artist").length) {
            //	$('#featured-artist').tabs({
            //		fxSlide: true,
            //		fxFade: true,
            //		fxSpeed: 'normal'
            //	});
            //}
            // Selects one or more elements to assign a simpletip to
            if($("#wire-install").length){
                $("#wire-install label").simpletip({
                    // Configuration properties
                    content: 'This is the text explanation. A wire is bla bla bla bla bla bla bla.',
                    fixed: false
                });
            }
        });
    </script>

    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="css/ie.css"/>
    <script src="/wp-content/themes/ooizitjs/IE8.js" type="text/javascript"></script><![endif]-->
    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="css/ie6.css"/>
    <script type="text/javascript">
        var IE6UPDATE_OPTIONS = {
            icons_path: "images/icons/"
        }
    </script>
    <script type="text/javascript" src="js/ie6update.js"></script>
    <script type="text/javascript" src="js/dd_belated.js"></script>
    <script type="text/javascript" src="js/ie6-transparencies.js"></script><![endif]-->


    <script>
        function reg(){
            console.log("reg");
            var email=$("#email").val();
            var passWord=$("#password").val();
            var repassword=$("#repassword").val();
            var nickname=$("#nickname").val();
            var sign=$("#sign").val();
            console.log(passWord);
            if(email==''||passWord==''||nickname==''||repassword=='')
            {
                document.getElementById("error_message").style.cssText = "display: block;";
                document.getElementById("errorinfo").innerHTML="必填字段不能为空";
                return false;
            }
            else if(!cheakEmail(email))
            {
                document.getElementById("error_message").style.cssText = "display: block;";
                document.getElementById("errorinfo").innerHTML="输入的邮箱有误";
                return false;
            }
            else if(!(passWord==repassword))
            {
                document.getElementById("error_message").style.cssText = "display: block;";
                document.getElementById("errorinfo").innerHTML="两次输入的密码不一致";
                return false;
            }
            else{
                $.ajax({
                    type: "POST",
                    url: "/register",
                    data:{
                        email:email,
                        password:passWord,
                        username:nickname,
                        signature:sign
                    },
                    success: function (data) {
                        //window.localStorage.setItem("name",data.name);
                        window.localStorage.setItem("email",email);
                        window.localStorage.setItem("username",data.username);
                        window.localStorage.setItem("signature",data.signature);
                        console.log('email: '+email);
                        console.log('username: '+data.username);
                        window.location.href="/";
                    }
                });
            }
        }
    </script>


<body id="index">
<!-- /#header -->
<p id="backtoblog"><a href="/" title="Are you lost?"> 欢迎来到 TM Talk ！</a></p>
<div id="body" class="section music-maker">
    <div class="contents">


            <fieldset class="register-now">
                <h3><img src="image/register-now-header.png" alt="立即注册"></h3>

                <div id="error_message" class="error" style="display: none">
                    <p><strong>错误： </strong><io id="errorinfo"></io></p>
                </div>
                <label for="email">*邮箱:</label>
                <input id="email" name="email" type="text" class="text" maxlength="100">
                <br>
                <label for="password">*密码:</label>
                <input id="password" name="password" type="password" class="text" maxlength="20">
                <br>
                <label for="repassword">*密码确认:</label>
                <input id="repassword" name="repassword" type="password" class="text" maxlength="20">
                <br>
                <label for="nickname">*昵称:</label>
                <input id="nickname" name="nickname" type="text" class="text" maxlength="20">
                <br>
                <label for="sign"> 个性签名:</label>
                <input id="sign" name="sign" type="text" class="text" maxlength="40">
                <br>
                <div class="submit">
                    <input id="button" onclick="javascript:reg()" name="submit" value="hello" type="image" src="image/register.png" alt="Register">
                </div><!-- /.submit -->
            </fieldset>

            <input type="hidden" id="_wpnonce" name="_wpnonce" value="03d8700baf"><input type="hidden" name="_wp_http_referer" value="/register?type=2">


    </div><!-- /.contents -->
</div><iframe src="about:blank" style="height: 0px; width: 0px; visibility: hidden; border: none;">This frame prevents back/forward cache problems in Safari.</iframe><!-- /#body -->




<script type="text/javascript">

    var WRInitTime=(new Date()).getTime();

</script>




<!-- ClickTale end of Bottom part -->

<div id="__blankDiv__" style="height:66px;width:100%;clear:both;padding:0;margin:0;position:relative;z-index:-9999;border:none;display:none;"></div></body></html>